<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Student Details page....</h1>
        <h2> Name : {{student.name}}</h2>
        <h2> age : {{student.age}}</h2>
        <h2> email : {{student.email}}</h2>
        <h2> place : {{student.place}}</h2>
        <h2><a href="/update/{{student.id}}">update</a></h2>
        <h2><a href="#">Delete</a></h2>
    </center>
</body>
</html>