<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Register Page</h1>
        <form method="Post">
            {% csrf_token%}
            <input type="text" name="username" placeholder="username" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="Submit" value="Register">
        </form>
        <a href="#">already have an account login?????</a>
    </center>
</body>
</html>